.chemicalButton {
  width: 18vw;
  top: 20vh;
  padding: 0;
  border: 1px solid RGB(87, 177, 255);
  margin: 10px 20px 10px 0;
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
  line-height: 4;
  color: #fff;
  border-radius: 10px;
  transition: all 0.2s;
  background: RGB(87, 177, 255);
  box-shadow: 0px 5px 0px 0px RGB(56, 113, 163);
}

.chemicalButton:hover {
  box-shadow: 0px 0px 0px 0px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.equipmentButton {
  width: 18vw;
  top: 20vh;
  padding: 0;
  border: 1px solid RGB(170, 230, 0);
  margin: 10px 20px 10px 0;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  line-height: 4;
  color: #fff;
  border-radius: 10px;
  transition: all 0.2s;
  background: RGB(170, 230, 0);
  box-shadow: 0px 5px 0px 0px RGB(115, 156, 0);
}

.equipmentButton:hover {
  box-shadow: 0px 0px 0px 0px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.LogoIMG {
  width: 40%;
}

.Title {
  position: relative;
}

.message {
  position: relative;
  top: 0.8vh;
  text-align: center;

  margin: 0;
  padding: 0;
  font-size: 1.15rem;
  font-weight: 600;
  color: rgba(253, 46, 129, 0.826);
}

.Block {
  position: relative;
  top: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Buttons {
  position: relative;
  top: 2vh;
  left: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
