.mainlogo {
  width: 40%;
}
.searchbar {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  display: block;
  justify-content: space-between;
}

.bigBox {
  display: flex;
  flex-direction: column;
}

.search {
  position: relative;
  right: 2.6vw;
  top: 0.8vh;
  width: 7%;
}

.block {
  display: flex;
  flex-direction: row;
}
.serachbarblock {
  height: 20%;
  display: flex;
  flex-direction: row;
}
